/* common style */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* header style */
.header-description {

    color: #151414;
    text-align: right;
    padding-right: 200px;
    padding-top: 150px;
    padding-left: 660px;


}

.header-section {
    background-image: url('./images/banner/banner1.png');

    height: 700px;
    background-position: left;
    background-repeat: no-repeat;

}

.btn {

    border-radius: 5px;
    background: #F15B22;
    color: white;
    padding: 10px 15px;
    font-size: 20px;
    margin-top: 10px;

}

.btn1 {

    border-radius: 5px;
    background: white;
    color: black;
    padding: 10px 15px;
    font-size: 20px;
    margin-top: 10px;

}

.btn2 {

    border-radius: 5px;
    background: white;
    color: black;
    padding: 10px 15px;
    font-size: 20px;

}

p {
    margin: 10px;
}

.img {
    width: 300px;
    margin-top: 70px;
    margin-left: 120px;
}

.section1 {
    display: flex;
    justify-content: space-around;
    justify-content: center;
}

.banner-description {
    margin-left: 50px;
    margin-top: 150px;
}


.section2-hader {
    text-align: center;
    margin: 30px;
}

.section2-description {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.icons {
    width: 40px;
}

.section2-description {
    text-align: center;


}

.section2 {
    margin-top: 80px;

}


.section3 {
    background-image: url('./images/gradient2.png'), url('./images/watch.png');
    background-repeat: no-repeat;
    width: 900px;
    height: 190px;
    border-radius: 5px;
    margin: 0 auto;

}

.section3-description {
    color: white;
    padding: 30px;
    box-sizing: border-box;
}

.ok {
    margin-top: 60px;
}

.footer-section {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.footer-description {
    color: white;
    padding: 100px;
    margin: 10px;
}

.footer-section {
    background-color: #151414;
    margin-top: 100px;
    height: 500px;
}

.footer-header {
    margin-bottom: 10px;
}

.email {
    padding: 10px;
    border: 0;
    border-radius: 5px;
    margin-bottom: 10px;
}

.icon {
    margin: 10px;
}